.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub/
.pub-cache/
build/
coverage/
android/.gradle/
ios/Pods/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
